<h1>School Class Form</h1>

<%= form_for(@school_class) do |s| %>
<%= s.label :title%>
<%= s.text_field :title%>
<%= s.label :room_number%>
<%= s.number_field :room_number%>
<%= s.submit("Create School class")%>
<%end%>
